<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href ="/css/styles.css">
    </head>

    <body>        
        {{>header}}
        <p>Created in nodeJS class</p>        
        {{>footer}}
    </body>
</html>